/* =======================================================================================
BASICS
======================================================================================= */

body {
	color: #ddd;
	font-family: Graphik, Helvetica, Arial, sans-serif;
	text-rendering: optimizeLegibility;
	font-variant-ligatures: common-ligatures;
	font-kerning: normal;
	font-size: 24px;
	line-height: 1.3em;
	letter-spacing: 0.005em;
}

h1, 
footer p {
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0.04em;
	color: #ddd;
}

.highlight {
	color: #fff;
}

/* 
.secondary {
	color: #ddd;
} */

.header-secondary {
	margin-left: 30px;
}

h2 {
	font-size: 24px;
	font-weight: 800;
	color: #fff;
	/* letter-spacing: -0.01em; */
}

h3 {
	font-size: 24px;
	font-weight: 400;
	color: #fff;
	/* letter-spacing: -0.01em; */
}

p {
	font-size: 24px;
	line-height: 1.3em;
	font-family: Graphik, Helvetica, Arial, sans-serif;
	letter-spacing: 0.005em;
	color: #ddd;
}

a, a:visited {
	color: #eee;
	text-decoration: none;
	text-shadow: 1px 1px 1px #bbb,
	2px 2px 2px #bbb,
	3px 3px 4px #bbb,
	4px 4px 4px #bbb,
	5px 5px 5px #bbb;
}

a:hover {
	color: rgb(255, 251, 38);
	text-shadow: 1px 1px 3px rgb(0, 0, 0),
		3px 3px 6px rgb(0, 0, 0),
		5px 5px 9px rgb(0, 0, 0),
		7px 7px 12px rgb(0, 0, 0),
		9px 9px 15px rgb(0, 0, 0);
	transition: color 1s, text-shadow 1s;
}

footer a,
footer a:visited {
	color: #ddd;
	text-shadow: none;
}

footer a:hover {
	color: rgb(255, 251, 38);
	text-shadow: none;
}






/* Reusable components
--------------------------------------------------------------------------------------- */

.highlight a, 
.highlight a:visited {
	color: #fff;
	text-decoration: none;
	text-shadow: none;
}

.highlight a:hover {
	color: rgb(255, 251, 38);
	text-shadow: none;
}










/* =======================================================================================
PAGES
======================================================================================= */




/* TOC page 
--------------------------------------------------------------------------------------- */

.toc-list {
	/* background: yellow; */
	/* border-top: 1px solid #fff; */
	color: #fff;
}

.toc-list h2, 
.toc-list p {
	font-size: 90px;
	line-height: 1.1em;
	/* max-width: 870px; */
}

.toc-list h2 {
	font-weight: 800;
	letter-spacing: -0.03em;
	padding: 0;
	margin: 0.15em 0 0 0;
}

.toc-list p {
	font-weight: 400;
	letter-spacing: -0.04em;
	padding: 0;
	margin: 0 0 0.75em 0;
	color: #fff;
}

.toc-list a, .toc-list a:visited {
	color: #fff;
	text-decoration: none;
	text-shadow: 1px 1px 1px #bbb,
	2px 2px 2px #bbb,
	3px 3px 4px #bbb,
	4px 4px 4px #bbb,
	5px 5px 5px #bbb,
	6px 6px 6px #bbb,
	7px 7px 7px #bbb,
	8px 8px 8px #bbb,
	9px 9px 9px #bbb,
	10px 10px 10px #bbb;
}

.toc-list a:hover {
	color: rgb(255, 251, 38);
	text-shadow: 1px 1px 3px rgb(0, 0, 0),
		3px 3px 6px rgb(0, 0, 0),
		5px 5px 9px rgb(0, 0, 0),
		7px 7px 12px rgb(0, 0, 0),
		9px 9px 15px rgb(0, 0, 0),
		11px 11px 18px rgb(0, 0, 0),
		13px 13px 21px rgb(0, 0, 0),
		15px 15px 24px rgb(0, 0, 0),
		17px 17px 27px rgb(0, 0, 0),
		19px 19px 30px rgb(0, 0, 0);
	transition: color 1s, text-shadow 1s;
}




/* Sparks classes 
--------------------------------------------------------------------------------------- */

.sparks-standfirst         {font-family: Sparks-Bar-Medium;         letter-spacing: 0em;}

.sparks-bar-extranarrow    {font-family: Sparks-Bar-Extranarrow;    letter-spacing: 0em;}
.sparks-bar-narrow         {font-family: Sparks-Bar-Narrow;         letter-spacing: 0em;}
.sparks-bar-medium         {font-family: Sparks-Bar-Medium;         letter-spacing: 0em;}
.sparks-bar-wide           {font-family: Sparks-Bar-Wide;           letter-spacing: 0em;}
.sparks-bar-extrawide      {font-family: Sparks-Bar-Extrawide;      letter-spacing: 0em;}

.sparks-dot-extrasmall     {font-family: Sparks-Dot-Extrasmall;     letter-spacing: 0em;}
.sparks-dot-small          {font-family: Sparks-Dot-Small;          letter-spacing: 0em;}
.sparks-dot-medium         {font-family: Sparks-Dot-Medium;         letter-spacing: 0em;}
.sparks-dot-large          {font-family: Sparks-Dot-Large;          letter-spacing: 0em;}
.sparks-dot-extralarge     {font-family: Sparks-Dot-Extralarge;     letter-spacing: 0em;}

.sparks-dotline-extrathin  {font-family: Sparks-Dotline-Extrathin;  letter-spacing: 0em;}
.sparks-dotline-thin       {font-family: Sparks-Dotline-Thin;       letter-spacing: 0em;}
.sparks-dotline-medium     {font-family: Sparks-Dotline-Medium;     letter-spacing: 0em;}
.sparks-dotline-thick      {font-family: Sparks-Dotline-Thick;      letter-spacing: 0em;}
.sparks-dotline-extrathick {font-family: Sparks-Dotline-Extrathick; letter-spacing: 0em;}

.sparks-standfirst,
.sparks-bar-extranarrow,
.sparks-bar-narrow,
.sparks-bar-medium,
.sparks-bar-wide,
.sparks-bar-extrawide,
.sparks-dot-extrasmall,
.sparks-dot-small,
.sparks-dot-medium,
.sparks-dot-large,
.sparks-dot-extralarge,
.sparks-dotline-extrathin,
.sparks-dotline-thin,
.sparks-dotline-medium,
.sparks-dotline-thick,
.sparks-dotline-extrathick {
	font-variant-ligatures: contextual;
	-moz-font-feature-settings: "calt";
	-webkit-font-feature-settings: "calt";
	font-feature-settings: "calt";
	font-size: 115%;
}