<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ '/assets/css/fonts.css' | relative_url }}" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/type.css' | relative_url }}" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/layout.css' | relative_url }}" type="text/css">
    <title>After The Flood</title>
  </head>
  <body>
    <div class="page">

      <header>
        <ul>
          <li class="page-title"><a href="/">{{ site.name }}</a></li>
          <li>{{ site.description }}</li>
          <li class="main-site-link"><a href="https://aftertheflood.com/">(Go to Aftertheflood.com)</a></li>
        </ul>
      </header>

      <h1>Tools!</h1>

      <div role="main" class="content">{{ content }}</div>

      <footer>
        <p>
          After the flood
          <br>140–142 St John St, London, EC1V 4UB, UK
          <br>info@aftertheflood.com
          <br><a href="href=https://twitter.com/AftertheFloodco">@Afterthefloodco</a>
          <br>Registered in England and Wales as After the flood Limited. 7792366
        </p>
      </footer>

    </div> <!-- end .page -->
  </body>
</html>