<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ '/assets/css/type.css' | relative_url }}" type="text/css">
    <title>After The Flood</title>
  </head>
  <body>
    <div class="header"></div>
    <div role="main" class="content">{{ content }}</div>
    <div class="footer">
    After the flood
    140–142 St John St, London, EC1V 4UB, UK
    info@aftertheflood.com 
    @Afterthefloodco 
    Registered in England and Wales as After the flood Limited. 7792366
    </div>
  </body>
</html>